.rating__container {
  position: relative;
  width: 48px;
  height: 48px;

  background-image: url("../../assets/images/shield-diamond.png");
  background-size: cover;
}

.rating__number {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

  color: white;
  font-weight: 800;
}
